{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-3">
				<div class="card mb-4">
					<div class="card-header">
						<h5 class="mb-0">Admin</h5>
					</div>
					<div class="list-group list-group-flush">
						<a href="{{ path('app_admin_category_index') }}" class="list-group-item list-group-item-action">
							Gérer les catégories
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card">
					<div class="card-header">
						<h5 class="mb-0">Modifier la catégorie</h5>
					</div>
					<div class="card-body">
						{{ form_start(form) }}
						{{ form_row(form.name) }}
						<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
						<a href="{{ path('app_admin_index') }}" class="btn btn-secondary">Retour</a>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
